.card {
  height: auto;
  width: 300px;
  background: #fcfcfc;
  flex: 0 1 300px;
  margin: 20px 10px;
  padding-bottom: 1.5rem;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}
#incomplete {
  filter: grayscale(1);
}
