.card {
  height: auto;
  width: 300px;
  background: #fcfcfc;
  flex: 0 1 300px;
  margin: 20px 10px;
  padding-bottom: 1.5rem;
  filter: drop-shadow(0 0px 5px rgba(0, 0, 0, 0.07));
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease-in;
  img {
    width: 100%;
    object-fit: cover;
  }
  &:hover {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
  }
}
#incomplete {
  filter: grayscale(1);
  text-decoration: line-through;
}
